<div class="container my-5">
  <h2 class="fw-bold mb-4">Seu Carrinho</h2>

  <div class="row g-4">
    <div class="col-lg-8">
      <div class="card shadow-sm p-3 mb-3">
        <div class="row fw-bold text-muted pb-2 mb-3 border-bottom d-none d-md-flex">
          <div class="col-md-6">Item</div>
          <div class="col-md-3 text-center">Quantidade</div>
          <div class="col-md-3 text-end">Valor</div>
        </div>

        <div *ngIf="itensCarrinho.length === 0" class="text-center py-4 text-muted">
          Seu carrinho está vazio no momento.
        </div>

        <div class="row align-items-center mb-3 py-2 border-bottom" *ngFor="let item of itensCarrinho">
          <div class="col-12 col-md-6 d-flex align-items-center mb-3 mb-md-0">
            <img src="img{{item.id}}.webp" alt="Produto" class="img-fluid rounded me-3" style="width: 80px; height: 80px; object-fit: cover;">
            <div>
              <h5 class="mb-1 fw-semibold">{{item.nome}}</h5>
              <button class="btn btn-sm btn-link cor-laranja-custom p-0 text-decoration-none" (click)="limparItem(item.id)">Remover</button>
            </div>
          </div>

          <div class="col-6 col-md-3 text-start text-md-center">
            <span class="d-md-none text-muted d-block fw-bold">Qtd:</span>
            <span class="fs-5">{{item.quantidade}}</span>
          </div>

          <div class="col-6 col-md-3 text-end">
            <span class="d-md-none text-muted d-block fw-bold">Preço:</span>
            <span class="fw-bold text-dark">R$ {{item.valor * item.quantidade | number:'1.2-2'}}</span>
          </div>
        </div>

      </div>
    </div>

    <div class="col-lg-4">
      <div class="card shadow-sm p-4 bg-light border-0">
        <h4 class="fw-bold mb-4">Resumo do Pedido</h4>
      
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h4 class="fw m-0">Total</h4>
          <h3 class="fw m-0 text-dark">R$ {{totalPreco | number:'1.2-2'}}</h3>
        </div>

        <button (click)="finalizarCompra()" class="btn btn-lg btn-laranja-custom w-100 py-3 fw-bold text-white shadow-sm mb-2">
          Finalizar Compra
        </button>
        
        <a routerLink="/" class="btn btn-link w-100 text-decoration-none text-muted btn-sm mt-2">
          Continuar Comprando
        </a>
      </div>
    </div>
  </div>
</div>