<main class="container my-4">
  <div class="row g-4 shadow p-3 mb-5 bg-body-tertiary rounded">
    
    <div *ngFor="let obj of lista" class="col-6 col-md-6 col-lg-4 d-flex">
      
      <div class="card h-100 w-100 d-flex flex-column shadow-sm bg-body-tertiary rounded" *ngIf="obj.quantidade > 0">
        
        <button (click)="verDetalhes(obj.codigo)" class="btn p-0 border-0">
          <img src="img{{obj.codigo}}.webp" class="card-img-top img-fluid" alt="{{obj.nome}}">
        </button>
        
        <div class="card-body flex-grow-1">
          <h5 class="card-title text-dark m-0 fs-6">{{obj.nome}}</h5>
        </div>
        
        <div class="card-footer bg-transparent border-top-0 p-3 pt-0 d-flex flex-column d-sm-flex flex-sm-row justify-content-sm-between align-items-sm-center gap-2">
            <span class="fs-5 fw-bold text-nowrap">R$ {{obj.valor}}</span>
            <button class="btn btn-laranja-custom fw-semibold px-3 w-100 w-sm-auto">Comprar</button>
        </div>
      </div>
    </div>

  </div>
</main>